*{
    font-family: 'Martel', serif;
    margin: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.menu{
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
}
.botones{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 5px;
    border: 2px solid ;
    background-color: #0DB2BC;
    border-radius: 0px 50px 0px 50px ;
    width: 100px;
}
.sidebar{
    width: 60px;
    height: 100%;
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    transition: width .75 ease;
}
.sidebar:hover{
    width:200px;
}
nav {
    background-color: #555;
    color: #fff;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
}
nav ul li:last-child {
    border-bottom: none;
}
.content {
    margin-left: 260px;
    padding: 20px;
}