* {
    font-family: 'Martel', serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.All {
    margin: 0px 25px;
    background-color: #fff;
    border-radius: 0px 50px 0px 50px;
}

body {
    background-image: url(../img/galaxy-espacio-textura-fondo.jpg);
    background-size: cover;
    background-position: top;
}

header {
    text-align: center;
    font-size: small;
    text-decoration: none;
    margin-right: 3em;
}

.menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    text-align: center;
    padding: 0px;
}

.botones {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.8em;
    margin: 1px;
    padding: 0em 0.5em;
    /*     border: 1px solid;
   border-color: aliceblue;
    background-color: #0db3bc;*/
    border-radius: 50px 50px 50px 50px;
    width: fit-content;
}

.sidebar {
    width: 1em;
    background-color: #222;
    padding: 2em;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    /*border-radius: 1rem 0 0 1rem;*/
    transition: width .75 ease;
}

.sidebar:hover {
    width: 10em;
}

nav {
    background-color: #555;
    color: #fff;
    width: 250px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 5px;
    border-bottom: 1px solid #444;
}

nav ul li:last-child {
    border-bottom: none;
}

.content {
    margin-left: 200px;
}