/*ESTILOS GENERALES*/
* {
    font-family: 'Martel', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../img/galaxy-espacio-textura-fondo.webp);
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
}

.content {
    margin: 5px 2rem;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    justify-content: center;
}

header {
    font-size: 15px;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 3vh;
}

h1 {
    margin-left: 80px;
    font-size: 10vh;
    font-family: 'Martel', sans-serif;
    display: inline-block;
    background-image: url(../img/Titulo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 {
    margin-left: 20px;
    font-size: 8vh;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

h3 {
    margin-left: 80px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    background-image: url(../img/Titulo.webp);
    background-repeat: repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-position: bottom;
}

.sidebar {
    width: 6vh;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 3rem;
    transition: 500ms ease;
}

article {
    z-index: 0;
    overflow: hidden;
}

section {
    margin: 10px 0 10px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Comfortaa', cursive;
    margin: 15px;
}

div ul li {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    height: auto;
}

*::selection {
    background-color: rgba(145, 41, 243, 0.3);
}

.sol {
    background-image: url(../img/sol.webp);
}

.mercurio {
    background-image: url(../img/mercurio.webp);
}

.venus {
    background-image: url(../img/venus.webp);
}

.tierra {
    background-image: url(../img/Tierra.webp);
}

.marte {
    background-image: url(../img/Marte.webp);
}

.jupiter {
    background-image: url(../img/jupiter1.webp);
}

.saturno {
    background-image: url(../img/Saturno.webp);
}

.urano {
    background-image: url(../img/Urano.webp);
}

.neptuno {
    background-image: url(../img/Neptuno.webp);
}

.pluton {
    background-image: url(../img/Pluton.webp);
}

.QS {
    background-image: url(../img/galaxy-espacio-textura-fondo.webp)
}

.CM {
    background-image: url(../img/galaxy-espacio-textura-fondo.webp)
}

.nave {
    margin: 5px;
    display: grid;
    place-items: center;
}


/*MENU*/
.menu {
    display: flex;
    justify-content: end;
}

.menu a {
    color: black;
    margin: 0px 1rem;

}

.menuBoton {
    border-radius: 1em;
    overflow: hidden;
    transition: 300ms;
}

.menu .menuBoton:hover {
    transform: rotate(5deg);
    background-image: url(../img/button.webp);
    background-size: cover;
    background-position: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botones:hover {
    color: rgb(255, 255, 255);
}

.botones {
    font-family: "Comfortaa";
    font-size: 2vh;
}

.barra {
    cursor: default;
}


/*INDEX*/

/*ESTILO DEL ARTICLE*/
.img-prin {
    width: 30%;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.imagen1 {
    width: 100%;
    height: 100%;
    transition: 500ms;
    object-fit: cover;
}

.imagen1:hover {
    transform: scale(1.3);
}

.imagen2 {
    width: 300px;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagenes {
    display: flex;
    justify-content: space-evenly;
}

.info {
    font-size: 35px;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-evenly;
}

.info-texto {
    width: 80%;
    display: grid;
    place-items: center;
    font-size: larger;
}

.caracteristicas {
    font-size: 25px;
}

/*Footer*/
.container-body{
    display: flex;
    place-content: center;
    height: 200px;
}
.colum1{
    max-width: 300px;
}
.colum1 img{
    width: 200px;
}
.colum2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 60px;    
}
.colum2 h1{

    font-size: 22px;
}
.colum2 p{ 
    margin-top: 5px;
    font-size: 10px;
}

/*EFECTOS Y CONTENIDO DEL NAV*/
.sidebar:hover {
    width: 20vh;
    border-radius: 3rem;
    cursor: url('../img/cohete-nav1.webp'), auto;
}

.sidebar a {
    color: rgb(146, 41, 243);
    cursor: url('../img/cohete-sel.webp'), auto;
}

.sidebar a:link {
    color: rgb(255, 255, 255);
}

.nombre_planeta {
    display: flex;
    align-items: center;
    align-content: center;
}

.planeta {
    font-family: "roboto";
}

.icono {
    max-width: 4vh;
    padding: 2vh 1vh 2vh 1vh;
}


/*SOBRE NOSOTRES*/
.sobre-nos {
    font-size: 1.5rem;
}

.imagenes-sn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.astro {
    height: 100%;
    transition: 500ms;
    object-fit: cover;
}

.astro:hover {
    transform: scale(1.3);
}
.equipo-presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.miembro-equipo {
    width: 30%; /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
}
.miembro-equipo img {
    max-width: 100%;
    max-height: 200px;
}

/*CONTACTANOS*/
.contenedor-cont {
    margin: 0px 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    z-index: 1;
}

.contacto {
    padding: 0px 1.5rem 1.5rem;
    display: flex;
    align-items: center;
}

.icono-cont {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-social {
    font-family: 'Roboto';
    font-size: 30px;
    margin: 10px;
    color: #000000;

}

iframe {
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    max-width: 500px;
}

.op-cont {
    max-width: 250px;
    max-height: 250px;
    z-index: 0;
}

.op-cont1 {
    max-width: 250px;
    max-height: 250px;
    z-index: 0;
    float: right;
}


/*NEWSLETTER*/
.content-nl {
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 40px;
    cursor: url('../img/cohete-nav1.webp'), auto;

}

.formulario {
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formularioLabel {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: url('../img/cohete-sel.webp'), auto;
}

.formularioGrupoInput {
    position: relative;
}

.formularioInput {
    font-family: 'Comfortaa', cursive;
    cursor: url('../img/cohete-sel.webp'), auto;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid transparent;
    border-radius: 1rem 0rem;
    height: 30px;
    line-height: 30px;
    transition: 300ms ease all;
}

.formularioInput:hover {
    border: 1px solid rgb(62, 18, 104);
    outline: none;
    box-shadow: 3px 6px 10px rgba(211, 211, 211, 0.3);
}

.formularioInputError {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.formularioInputError-activo {
    display: block;
}

.formularioValidacionEstado {
    max-width: 20px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 2;
    font-size: 10px;
    opacity: 0;
    cursor: url('../img/cohete-sel.webp'), auto;
}

.iconoError {
    max-width: 20px;
    position: relative;
    font-size: 10px;
}

.formularioCheckbox {
    margin-right: 10px;
}

.formularioGrupo-terminos,
.formularioMensaje,
.formularioGrupoBoton {
    grid-column: span 2;
}

.formularioMensaje {
    height: 3vh;
    background-color: red;
    padding: 5px 20px;
    border-radius: 1rem 0rem;
    display: none;
}

.formularioMensaje-activo {
    display: block;
}

.formularioMensaje p {
    margin: 0px;
}

.formularioGrupoBoton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioBoton {
    height: 40px;
    line-height: 40px;
    width: 30%;
    background-color: #000000;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0rem 1rem;
    cursor: url('../img/cohete-sel.webp'), auto;
    transition: 500ms ease all;
}

.formularioBoton:hover {
    border: 2px solid rgb(146, 41, 243);
    ;
    box-shadow: 3px 6px 10px rgba(211, 211, 211, 1);
}

.formularioMensaje-enviado {
    font-size: 14px;
    color: rgb(53, 187, 53);
    display: none;
}

.formularioMensaje-enviado-activo {
    display: block;
}

.formularioGrupo-correcto .formularioValidacionEstado {
    opacity: 1;
}

.formularioGrupo-incorrecto .formularioValidacionEstado {
    opacity: 1;
}

.formularioGrupo-incorrecto .formularioInput {
    border: 1px solid red;
}

.formularioGrupo-incorrecto .formularioLabel {
    color: red;
}


/* Media Query para dispositivos de ancho máximo de 600px (móviles) */
@media screen and (max-width: 600px) {

    /*todo e index*/
    h1 {
        font-size: 40px;
        margin-left: 10px;
    }

    h3 {
        font-size: large;
        margin-left: 10px;
    }

    h2 {
        font-size: 4vh;
    }

    .info-texto {
        width: auto;
        margin-top: 5%;
        font-size: large;
    }

    p {
        font-size: small;
    }

    .caracteristicas {
        font-size: small;
    }

    nav {
        font-size: 1rem;
    }

    .botones {
        font-size: x-small;
    }

    .menu {
        align-items: center;
        justify-content: right;
    }

    .menu a {
        margin: 0px 2px;
        font-size: 0.85rem;
    }

    .index {
        margin: 0 1.2vw;
    }

    .sidebar {
        height: 85vh;
        width: 11.5vw;
    }

    .sidebar:hover {
        width: 30vw;
    }

    div ul li {
        height: 10vh;
    }

    .icono {
        max-width: 8vw;
    }

    .info {
        display: grid;
        grid-template-areas:
            "img-prin"
            "info-texto";
        grid-template-columns: 1fr;

    }

    .img-prin {
        width: 100%;
    }

    .content {
        padding: 3vh;
    }

    .imagenes {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .imagen2 {
        width: 200px;
        height: 200px;
    }

    .imagenes-carrusel ul {
        display: flex;
        padding: 0;
        width: 300%;
        animation: slide 15s infinite alternate ease-in-out;
    }

    .imagenes-carrusel li {
        list-style: none;
        width: 100%;
    }

    .imagenes-carrusel img {
        width: 80%;
    }


    @keyframes slide {
        0% {
            margin-left: 0%;
        }

        30% {
            margin-left: 0%;
        }

        35% {
            margin-left: -100%;
        }

        65% {
            margin-left: -100%;
        }

        70% {
            margin-left: -200%;
        }

        95% {
            margin-left: -200%;
        }

    }

    /*CONTACTANOS*/

    .contenedor-cont {
        flex-direction: column;
    }

    .red-social {
        font-size: 15px;
    }

    iframe {
        max-width: 60vw;
        height: auto;
    }

    .icono-cont {
        max-width: 30px;
        max-height: 30px;
    }

    .contacto {
        padding: 0 0 1.5rem;
    }

    /*SOBRE NOSOTRES*/
    .sobre-nos {
        font-size: 15px;
    }

    .astro {
        display: flex;
        flex-direction: row;
        height: 55%;
        width: auto;
    }


    /*NEWSLETTER*/
    .formulario {
        grid-template-columns: 1fr;
    }

    .formularioGrupo-terminos,
    .formularioMensaje,
    .formularioGrupoBoton {
        grid-column: 1;
    }

    .formularioBoton {
        width: 100%;
    }
    /*Footer*/
    .colum1 img{
        width: 150px;
    }
    .colum2{
        margin-top: 15px;    
    }
    .colum2 h1{
    
        font-size: 18px;
    }
    .colum2 p{ 
        font-size: 10px;
    }
}
