/*ESTILOS GENERALES*/
* {
    font-family: 'Martel', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../img/galaxy-espacio-textura-fondo.jpg);
    background-size: cover;
    background-position: top;
    min-width: 300px;
    min-height: 800px;
    background-repeat: repeat;
}

.All {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav article"
        "footer footer ";
    grid-template-columns: 3rem auto;
    margin: 1px 1.5rem;
    background-color: #ffffff;
    border-radius: 3rem 0;
    min-height: 100%;
    padding: 5px;
}

header {
    font-size: 15px;
    padding-right: 2rem;
    text-decoration: none;
    grid-area: header;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    grid-area: nav;
    font-size: 1rem;
    border-bottom: 1px solid rgb(62, 62, 67);
}

h1 {
    font-family: 'Martel', sans-serif;
    font-size: 40px;
    display: inline-block;
    background-image: url(../img/Titulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 80px;
    margin-top: -20px;
}

h2 {
    background: linear-gradient(transparent, rgb(255, 255, 255)), url(../img/galaxy-espacio-textura-fondo.jpg);
    background-size: cover;
    background-position: bottom;
    color: white;
    -webkit-text-stroke: 2px #9800fd33;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding: 5px 0rem 5px 80px;
    text-transform: uppercase;
    
}

h3 {
    background: linear-gradient(transparent, rgb(255, 255, 255)), url(../img/galaxy-espacio-textura-fondo.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    -webkit-text-stroke: 2px #9800fd33;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 5px 0rem 5px 80px;
}

.sidebar {
    width: 50px;
    height: 280px;
    box-sizing: border-box;
    background-color: #0f0f0f;
    padding: 0.3rem;
    overflow: hidden;
    border-radius: 2rem;
    transition: 500ms ease;
    z-index: 1;
}

article {
    grid-area: article;
    /*mantiene la forma del MAINback*/
    z-index: 0;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    font-size: 30px;
}

footer {
    grid-area: footer;
}

p {
    font-family: 'Comfortaa', cursive;
    margin: 15px;
    text-align: justify;
}

div ul li {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    height: auto;
}

*::selection{
    background-color: rgba(145, 41, 243, 0.3);
}

/*MENU*/
.menu a {
    color: black;
    margin: 0px 0px 0px 2rem;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    text-align: center;
}

.menu .botones:hover {
    color: rgb(255, 255, 255);
    transform: rotate(10deg);
    background-image: url(../img/button.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.botones{
    font-family: "Comfortaa";
    font-size: larger;
}

.barra {
    cursor: default;
}

/*INDEX*/

/*ESTILO DEL ARTICLE*/
.img-prin{
    max-width: 500px;
    max-height: 500px;
    min-width: 400px;
    min-height: 300px;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;

}
.imagen1 {
    width: 100%;
    height: 100%;
    transition: 500ms;
    object-fit: cover;
}
.imagen1:hover {
    transform: scale(1.3);
}

.imagen2 {
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imagenes {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-evenly;
    font-size: 35px;
    margin: 2rem;
}

.caracteristicas {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}


/*EFECTOS Y CONTENIDO DEL NAV*/
.sidebar:hover {
    width: 130px;
    border-radius: 2rem 0;
    cursor: url('../img/cohete-nav1.png'), auto;

}
 
.sidebar a {
    cursor: url('../img/cohete-sel.png'), auto;
    color: rgb(146, 41, 243);
}
.sidebar a:link{
    color: rgb(255, 255, 255);
}



.nombre_planeta {
    display: flex;
    align-items: center;
}

.planeta {
    margin: 10px;
    font-family: "roboto";
    color: white;
    padding: 0.2em;
}

.icono {
    max-width: 20px;
    padding: 0px 10px;
}

/*MEDIA QUERY*/
/* @media screen and (max-width: 900px){
 .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
p{margin: 1px;}
} 
CONTROL + F*/

/*SOBRE NOSOTRES*/
.sobre-nos{
    font-size: 1.5rem;
}
.imagenes-sn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    height: 500px;
}
.astro {
    height: 100%;
    transition: 500ms;
    object-fit: cover;
}
.astro:hover {
    transform: scale(1.3);
}


/*CONTACTANOS*/
.contenedor-cont{
    margin: 0px 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    z-index: 1;
}
.contacto{
    padding:0px 1.5rem 1.5rem;
    display: flex;
    align-items: center;
}
.icono-cont{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.red-social{
    font-family: 'Roboto';
    font-size: 30px;
    margin: 2px;
    color: #000000;
}
iframe{
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    max-width: 500px;
}
.op-cont{
    max-width: 250px;
    max-height: 250px;
    z-index: 0;
}
.op-cont1{
    max-width: 250px;
    max-height: 250px;
    z-index: 0;
    float: right;
}

/*NEW LETTER*/
.NewLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.contenedor-nl{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px; 
    justify-content: center;
    max-width: 400px;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: url('../img/cohete-nav.png'), auto;
}
.filas {
    font-family: 'Comfortaa', cursive;
    margin: 1rem;
    text-align: justify;
    font-size: large;
    cursor: url('../img/cohete-nav.png'), auto;
}
.boton{
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    font-size: x-large;
    text-align: center;
    grid-column-end:3;
    cursor: url('../img/cohete-sel.png'), auto;
}
.art-nl{
    display: flex;
    justify-content: space-evenly;
}
.op-nl1{
    max-width: 100%;
    max-height: 75%;
    z-index: 0;
    float: right;
}
.op-nl2{
    max-width: 50%;
    max-height: 50%;
    z-index: 0;
    float: left;
    margin-top: 5%;
}



/* Media Query para dispositivos de ancho máximo de 600px (móviles) */
@media screen and (max-width: 600px) {
    body {
      
      background-image: none; 
      background-color: #f0f0f0; 
    }
  
    .All {
      
      grid-template-areas:
        "header"
        "nav"
        "article"
        "footer";
      grid-template-columns: auto; 
      border-radius: 0; 
      padding: 10px; 
    }
  
   
  
    
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    
    .sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
    }
     div ul li {
    height: 10vh;
    }
    .icono {
        max-width: 40px;
    }
}